[%# root/src/denominacion/agregar.tt2 %]

[% PROCESS site/mensajes.tt2 %]
<div style='width:46%; position:absolute; top:3px; left:25%;'>
[% modulo.accion %] [% modulo.item %]

[% form.render %]

</div>
<script>
    $("input:text:visible:first").focus();
</script>
