[%# root/src/usuarios/agregar.tt2 %]

[% PROCESS site/ventana.tt2 -%]
[% PROCESS site/mensajes.tt2 -%]
<div style='width:46%; position:absolute; top:3px; left:25%;'>
Agregar Usuario
[%# abrir_ventana(titulo='Agregar Rol') %]
[% form.render %]
[%# cerrar_ventana %]
</div>
<script>
    $("input:text:visible:first").focus();
</script>
