[%# root/src/usuarios/editar.tt2 %]

[% PROCESS site/ventana.tt2 -%]
[% PROCESS site/mensajes.tt2 -%]
<div style='width:46%; position:absolute; top:3px; left:25%;'>
Editar Usuario
[%# abrir_ventana(titulo='Editar Usuario') %]
[% form.render %]
[%# cerrar_ventana %]
</div>
<script>
    $("#id").attr("readonly","true");
    $("#persona").focus();
    $(function() {
            function log( message ) {
                    $( "<div/>" ).text( message ).prependTo( "#log" );
                    $( "#log" ).scrollTop( 0 );
            }

            $( "#persona" ).autocomplete({
                    source: "[% c.uri_for('/usuarios/autoc') %]",
                    minLength: 2,
                    select: function( event, ui ) {
                            log( ui.item ?
                                    "Selected: " + ui.item.value + " aka " + ui.item.id :
                                    "Nothing selected, input was " + this.value );
                    }
            });
    });
</script>
