form#persona label{
display:block;
text-align:right;
width:190px;
float:left;
}

form#usuario label{
display:block;
text-align:right;
width:190px;
float:left;
}

form#rol label{
display:block;
text-align:right;
width:190px;
float:left;
}

form#personal label{
display:block;
text-align:right;
width:190px;
float:left;
}

form#formulario label{
display:block;
text-align:right;
width:190px;
float:left;
}

form#visitas_buscar label{
/*display:block;*/
text-align:right;
width:190px;
/*float:left*/;
}

form#visitas label{
display:block;
text-align:right;
width:180px;
float:left;
}

form#login label{
display:block;
text-align:right;
width:190px;
float:left;
}

form#datosreporte label{
display:block;
text-align:right;
width:190px;
float:left;
}
