
.box_estatus {
    width: 50%;
    background-color: #FFF6BF;
    color: black;
    border: 1px solid #660033;
    font-weight: bold;
    text-align: center;
    padding: 2px 4px 2px 4px;
}

.box_error {
    width: 50%;
    background-color: #ffebe8;
    color: #990033;
    border: 1px solid #660033;
    font-weight: bold;
    text-align: center;
    padding: 2px 4px 2px 4px;
}

table.tablalista {
    border-spacing: 0px;
    margin: 10px 10px 10px 10px;
    border:0px solid;
}

table.tablalista thead, table.tablalista th {
    padding: 9px;
    font-size: 85%;
    color:#FFFFFF;
    background:  #4A91C3;/*rgb(205,219,205);*/
    text-align: center;
}

table.tablalista td {
    padding: 2px 2px 2px 3px;
    font-size: 10px;
    border-bottom:0px solid;
    text-align: center;
}

table.tablalista td.listaopcion{
    padding-left: 5px;
    padding-right: 5px;
}

.filacolor {
    background: #FFEBE8;
}

.filablanca {
    background: transparent;
}

a.boton_opcion{
/*    border: 1px solid gainsboro;*/
    background: transparent;
    color: blue;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    font: 13px verdana, arial, sans-serif, tahona;
    cursor: pointer;
    text-decoration: none;
}

a.boton_opcion:hover {
  text-decoration: none;
  color: white;
  background: silver;
}
a.boton_opcion_img img {
    border: 0px;
    cursor: pointer;
}

a.boton_opcion_img:hover {
  text-decoration: none;
  color: White;
  background: transparent;
}

.error {
    background-color: #ffebe8;
    color: #990033;
    border: 1px solid #660033;
    font-weight: bold;
    padding: 2px 4px 2px 4px;
}

table.tablalista1 {
    border-spacing: 0px;
    border:0px solid;
}

table.tablalista1 thead, table.tablalista1 th {
    padding: 9px;
    font-size: 80%;
    color:#444444;
    text-align: center;
}

table.tablalista1 td {
    padding: 2px 2px 2px 3px;
    font-size: 10px;
    border-bottom:0px solid;
    text-align: center;
}

table.tablalista1 td.listaopcion{
    padding-left: 5px;
    padding-right: 5px;
}

