/* standard elements */
* {
	margin: 0;
	padding: 0;
}
a {
	color: #36C;
}
a:hover {
	color: #06F;
}
body {
	background: #EEE url(img/bg.gif);
	color: #444;
	font: normal 56.5% "Lucida Sans Unicode",Verdana;
	margin: 0;
}
input {
	color: #555;
	font: normal 1.1em "Lucida Sans Unicode",sans-serif;
}
p,cite,code,ul {
	font-size: 1.2em;
	padding-bottom: 1.2em;
}
h1 {
	font-size: 1.5em;
	margin-bottom: 4px;
}
code {
	background: url(img/bgcode.gif);
	border: 1px solid #F0F0F0;
	border-left: 6px solid #39F;
	color: #555;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
cite {
	background: url(img/quote.gif) no-repeat;
	color: #666;
	display: block;
	font: normal 1.3em "Lucida Sans Unicode",serif;
	padding-left: 28px;
}
h1,h2,h3 {
	color: #367EA6;
	padding-top: 6px;
}

/* misc */
.clearer {
	clear: both;
}

/* structure */
.container {
	background: url("img/bgcontainer.gif") repeat scroll;
	margin: 0 auto;
	padding-bottom: 6px;
	width: 910px; 
}
.header {
/*    background: url(img/header.gif) repeat-x;*/

/* logotipo del Sistema*/
}

.ayuda img
	{
	float:right; 
	/*background-image: url("img/Ayuda.png")*/
	padding:29px 8px 5px 9px;
	/*padding: 3px 0px 5px 9px;*/
	position: relative;
	}

/* title */
.title h1 {
	color: #FFF;
	font: normal 3em Verdana,sans-serif;
	height: 50px;
	line-height: 40px;
	margin-bottom: 8px;
	text-align: center;
}

.title p {
	color: #FFF;
	font: normal 2.7em Verdana,sans-serif;
	height: 50px;
	line-height: 53px;
	margin-bottom: 8px;
	text-align: center;
}

/* navigation */
.navigation {
	margin-bottom: 4px;
}
.navigation a {
	background-color: #4A91C3;
	color: #FFF;
	float: left;
	font: bold 1.2em "Trebuchet MS",sans-serif;
	padding: 8px 0;
	width: 19%;
	border-right: 1px solid #FFF;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	background-color: #000;
	color: #FFF;
}

/* main */
.main {
	clear: both;
	padding: 10px 18px;
}

/* main left */
.sidenav h1,.sidenav ul {
	padding-left: 6px;
}
.sidenav {
	background: #EEE;
	border: 1px solid #E5E5E5;
	float: left;
	width: 150px;
}
.sidenav h1 {
	color: #666;
	font-size: 1.2em;
	height: 20px;
	margin-top: 1.2em;
}
.sidenav ul {
	border-top: 1px solid #FAFAFA;
	background: url(img/bgul.gif) repeat-x;
	margin: 0;
	padding: 0;
}
.sidenav li {
	border: 1px solid #FAFAFA;
	border-top: none;
	list-style: none;
	margin: 0;
}
.sidenav li a {
	color: #777;
	display: block;
	font-size: 0.9em;
	padding: 3px 6px 3px 14px;
	text-decoration: none;
}
.sidenav li a:hover {
	color: #111;
}

/* content */
.content {
	float: right;
	width: 100%;
}
.content .item {
	padding: 4px 4px;
	border: 1px solid #EEE;
	background: #FFF;
	margin-bottom: auto; /*8px*/
}
.content .descr {
	color: #333;
	margin-bottom: 6px;
}
.content li {
	list-style: url(img/li.gif);
	margin-left: 18px;
}

/* search form */
form {
	padding: 0 0 6px 8px;
}
.styled {
	border: 1px solid #DDD;
	padding: 4px;
}
.button {
	background: url(img/search.gif) no-repeat left bottom;
	border: none;
	height: 27px;
	width: 27px;
}

/* footer */
.footer {
	background: #FFF;
	border: 1px solid #EEE;
	color: #666;
	font-size: 1.1em;
	margin: 0 auto;
	text-align: center;
	padding: 6px;
	width: 860px;
}
.footer a {
	color: #36C;
	text-decoration: none;
}
.footer a:hover {
	color: #06F;
	text-decoration: underline;
}

/*****************************************************/
table.listatabla thead, table.listatabla th {
	padding: 3px 0px 3px 10px;
    font-size: 85%;
}
table.listatabla td {
    font-size: 10px;
}
/*****************************************************/
/*
form {
  margin: 0;
  padding: 0;
  font-size: 100%;
  min-width: 560px;
  max-width: 620px;
  width: 590px;
}
form div {
  clear: left;
  display: block;
  width: 554px;
  zoom: 1;
  margin: 5px 0 0 0;
  padding: 1px 3px;
}

fieldset {
  clear: both;
  font-size: 100%;
  border-color: #000000;
  border-width: 1px 0 0 0;
  border-style: solid none none none;
  padding: 10px;
  margin: 0 0 0 0;
  background-color: #efefef;
}

fieldset legend {
  font-size: 150%;
  font-weight: normal;
  color: #000000;
  margin: 0 0 0 0;
  padding: 0 5px;
}

label {
  font-size: 100%;
}

label u {
  font-style: normal;
  text-decoration: underline;
}

input, select, textarea {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 100%;
  color: #000000;
  background-color: #fff;
}

textarea {
  overflow: auto;
}

xform div fieldset {
  clear: none;
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  margin: 0 0 0 144px;
  padding: 0 5px 5px 5px;
  width: 197px;
}

xform div fieldset legend {
  font-size: 100%;
  padding: 0 3px 0 9px;
}

xform div.required fieldset legend {
  font-weight: bold;
}

form div label {
  display: block;
  float: left;
  width: 130px;
  padding: 3px 5px;
  margin: 0 0 5px 0;
  text-align: right;
}

xform div.optional label, label.optional {
  font-weight: normal;
}

xform div.required label, label.required {
  font-weight: bold;
}

form div label.labelCheckbox, form div label.labelRadio {
  float: none;
  display: block;
  width: 200px;
  zoom: 1;
  padding: 0;
  margin: 0 0 5px 142px;
  text-align: left;
}

form div fieldset label.labelCheckbox, form div fieldset label.labelRadio {
  margin: 0 0 5px 0;
  width: 170px;
}

xform div img {
  float: left;
  border: 1px solid #000000;
  margin: 0 0 5px 0;
}



xform div select, form div textarea {
  width: 200px;
  padding: 1px 3px;
  margin: 0 0 0 0;
}

xform div input.inputText, form div input.inputPassword {
  width: 200px;
  padding: 1px 3px;
  margin: 0 0 0 0;
}

xform div input.inputFile {
  width: 211px;
}

xform div select.selectOne, form div select.selectMultiple {
  width: 211px;
  padding: 1px 3px;
}

xform div input.inputCheckbox, form div input.inputRadio, input.inputCheckbox, input.inputRadio {
  display: inline;
  height: auto;
  width: auto;
  background-color: transparent;
  border-width: 0;
  padding: 0;
  margin: 0 0 0 140px;
}

xform div.submit {
  width: 214px;
  padding: 0 0 0 146px;
}

xform div.submit div {
  display: inline;
  float: left;
  text-align: left;
  width: auto;
  padding: 0;
  margin: 0;
}

xform div input.inputSubmit, form div input.inputButton, input.inputSubmit, input.inputButton {
  background-color: #cccccc;
  color: #000000;
  width: auto;
  padding: 0 6px;
  margin: 0;
}

xform div.submit div input.inputSubmit, form div.submit div input.inputButton {
  float: right;
  margin: 0 0 0 5px;
}

xform div small {
  display: block;
  margin: 0 0 5px 142px;
  padding: 1px 3px;
  font-size: 88%;
  zoom: 1;
}

*/

form {
  margin: 0;
  padding: 0;
  font-size: 100%;
  min-width: 560px;
  max-width: 620px;
  width: 590px;
}

fieldset  {
  font: 100% "Helvetica Neue", helvetica, arial, sans-serif;
  color: #666;
  background-color: #efefef;
  clear: both;
  border-color: #000000;
  border-width: 1px 0 0 0;
  border-style: solid none none none;
  padding: 2px;
  margin: 0 0 0 0;
  width: 550px;
}

legend  {
        color: #666;
        font-weight: bold;
        font-variant: small-caps;
        background-color: #d3d3d3;
        padding: 2px 6px;
        margin-bottom: 8px;
}

label   {
        font-weight: bold;
        line-height: normal;
        text-align: right;
        margin-right: 10px;
        position: relative;
        display: block;
        float: left;
/*        width: 125px;*/
}



label.fieldLabel        {
        display: inline;
        float: none;
        }

        

input   {
  font-size: 90%;
  color: #666;
  background-color: #fff;
  padding: 2px;
  border: solid 1px;
  margin-right: 5px;
  margin-bottom: 5px;
}

input:hover {
  background-color: #ccffff;
  border: solid 1px #006600;
  color: #000;
  cursor: pointer;
}

input:focus {
  color: #000;
  background-color: #ffffff;
  border: solid 1px #006600;
  cursor: text;
}

select  {
  font-size: 90%;
  color: #666;
  background-color: #fff;
  padding: 2px;
  border: solid 1px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

select:hover  {
  color: #333;
  background-color: #ccffff;
  border: solid 1px #006600;
}

select:focus  {
  color: #000;
  background-color: #ffffff;
  border: solid 1px #006600;
}

input.formInputButton   {
  font-size: 1.2em;
  vertical-align: middle;
  font-weight: bolder;
  text-align: center;
  color: #300;
  background: #f99 url(bg_button.png) repeat-x;
  padding: 1px;
  border: solid 1px #f66;
  cursor: pointer;
  float: right;
}

input.formInputButton:hover   {
  background-image: url(bg_button_hover.png);
}

input.formInputButton:active   {
  background-image: url(bg_button.png);
}


